/* >>> Global variables >>> */

html {
  font-size: 10px;
}

:root {
  --primary-font-size: 3rem;
  --secondary-font-size: 1.6rem;
  --tertiary-font-size: 1.2rem;

  --primary-border-width: 0.4vh;

  --border-radius: 1rem;

  --primary-transition: 0.2s;
  --secondary-transition: 0.4s;
}

/* >>> Text font declaration >>> */

@font-face {
  font-family: 'Library3';
  src: local('Library3'), url(./assets/fonts/library3.woff2) format('woff2');
}

/* >>> Global style settings >>> */

body {
  margin: 0;
  background-color: #243B55;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Red Hat Text', sans-serif;

  /* disable scroll bar for Mozilla */
  scrollbar-width: none;
}

*::-webkit-scrollbar {

  /* disable scroll bar for Chrome */
  display: none;
}
