/* >>> Global variables >>> */

:root {
  --primary-font-size: 8vh;
  --secondary-font-size: 3vh;
  --tertiary-font-size: 2vh;

  --primary-border-width: 0.4vh;

  --primary-transition: 0.2s;
  --secondary-transition: 0.4s;
}

body {
  margin: 0;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Red Hat Text', sans-serif;

  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
  width: 0.25vw;
}

*::-webkit-scrollbar-track {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

*::-webkit-scrollbar-thumb {
  background-color: #11A4D6;
}
